<div class="dashboard">
 <%= erb :'admin/partials/menu' %>
  <h2>DASHBOARD</h2>
  <%= erb :'admin/partials/stats' %>
  <%= erb :'admin/partials/popularity' %>
  <%= erb :'admin/partials/notifications' %>
  <%= erb :'admin/partials/reports' %>
</div>
